.lokacija{
    margin-top: 15px;
    
}
.page-wrapper{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    font-size: 20px;
    
    
}
.formTitle{
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.formaDiv{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}
.forma{
    margin-left: 45px;
    font-size: large;
}
.forma .imeforma{
    border-style: inset;
    height: 25px;
}
.forma .prati{
    border-style: none;
    color: cyan;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    background-color: transparent;
}
.kontaktinfo{
    color: cyan;
    -webkit-text-stroke-width: 0.4px;
    
    -webkit-text-stroke-color: black;
    
    position: absolute;
        bottom: 0;
        left: 45px;
}
.forma .prati:hover{
    background-color: rgba(0, 255, 255, 0.45);
    opacity: 0.8;
}
.forma .poraka{
    resize: none;
    border-style: inset;
}